.topHeader {
  padding: 0.5rem 0;
}

.logo {
  max-width: 200px;
}

/* Responsive */
@media (width < 1400px) {
  .logo {
    max-width: 180px;
  }
}

@media (width < 1200px) {
  .logo {
    max-width: 160px;
  }
}

@media (width < 992px) {
  .logo {
    max-width: 150px;
  }
}

@media (width < 768px) {
  .topHeader {
    padding: 0.5rem 1rem;
  }

  .logo {
    max-width: 140px;
  }
}

@media (width < 576px) {
  .topHeader .container-md {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    max-width: 120px;
  }

  .buttonGroup {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .buttonGroup button {
    padding:  12px 14px !important;
  }
}