.card{
  padding: 35px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px; 
}

.icon{
  width: 20px;
  height: 20px;;
  padding: 0;
}

.doctorImage{
  min-width:85px;
  width: 100px;
  height:100px;
  object-fit: cover;
  object-position: top;
}
.destination{
  width: 100%;
}

.cardContent{
  width:65%
}

.consultbtn button{
  border: 2px solid #ff6b5c;
  
}

@media (max-width: 1400px) {
  .card {
    padding: 30px;
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 25px;
  }
}

@media (max-width: 992px) {
  .card {
    flex-direction: row !important;
    text-align: start;
    padding: 20px;
  }
  .card button{
    margin-top: 0;
  }
  .cardContent{
    width: 100%;
  }
  .card img {
    margin-bottom: 0px;
  }
  .button{
     margin-top: 15px;
    width:90%
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column !important;
    border-radius: 16px;
    padding: 18px;
  }
  .card button{
        margin-top: 20px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}


@media (max-width: 576px) {
  .card {
    border-radius: 12px;
    padding: 15px;
  }
  .card h5 {
    font-size: 1rem;
  }
  .card p {
    font-size: 0.85rem;
  }
  .icon {
    width: 16px;
    height: 16px;
  }
  .card button {
    font-size: 0.85rem;
    padding: 8px 20px;
  }
}


@media (max-width:420px){
    .card .doctorImage{
    width: 90px;
    height: 90px;
  }
}

@media (max-width:390px){
    .card .doctorImage{
    width: 70px;
    height: 80px;
  }
}