:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
section{
  margin-top: 60px;
}
.slick-prev,
.slick-next {
  background-color: #153b56 !important;
  padding: 3px;
  color: #fff;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100px;
  display: block !important;
  z-index: 2;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

/* Responsive Slider Arrows */
@media (max-width: 1400px) {
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 40px !important;
    height: 40px !important;
  }
  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
}

@media (max-width: 576px) {
  .slick-prev,
  .slick-next {
    width: 35px !important;
    height: 35px !important;
  }
}

.slick-slider {
  width: 100%;
}

.sliderWrapper {
  width: 100%;
}
.commonshadow {
  box-shadow: 0px 4px 24px 0px hsla(212, 9%, 59%, 0.2);
}

.accordion-button:not(.collapsed) {
  color: #ef7b7b;
  background-color: #ffffff;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}
