.button {
    border-radius: 50px;
    cursor: pointer;
}

.button h6 {
    font-size: 17px !important;
    font-weight: 600;
    margin: 0px;
}

.button svg {
    width: 20px;
}

.button:focus {
    box-shadow: none !important;
    outline: none !important;
}


@media (width < 1200px) {

    .button h6 {
        font-size: 15px !important;
    }

}

@media (width<390px){
    .button{
        padding: 15px 25px !important;
    }
}