.excellenceSection {
  padding: 4rem 0;
  background-color: #fff;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #153b56;
  margin-bottom: 1rem;
}

.sectionSubtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 3rem auto;
  color: #000;
}

.slider .slick-slide > div {
  padding: 20px 10px;
}

.card {
  background-color: #e7e7e7;
  border-radius: 25px;
  padding: 2.4rem 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 180px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: #153b56;
  color: #fff !important;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.cardIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  padding: 5px;
  background-color: #153b56;
  border-radius: 5px;
}

.cardTitle {
  color: #153b56;
  font-weight: 500;
  margin: 0;
    font-size: 18px;
}
.card:hover .cardTitle {
  color: #fff;
  font-size: 18px;
}

.viewMoreContainer {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
