.expertsSection {
  padding: 4rem 0;
  background-color: #f8f9fa;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #153b56;
  margin-bottom: 3rem;
}

.cardGrid {
  row-gap: 2.5rem;
}

.doctorCard {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  padding-top: 1rem 0 0;
}

.doctorCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.doctorImage {
  width: 200px;
  height: 280px;
  object-fit: cover;
}

.cardContent {
  padding: 1.5rem;
  text-align: left;
  flex-grow: 1;
}

.doctorName {
  font-size: 1.6rem;
  font-weight: 700;
  color: #153b56;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.doctorQualifications {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
  height: 50px;
}

.doctorStats {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  color: #153b56;
  font-size: 0.9rem;
}

.statIcon {
  color: #153b56;
}

/* Responsive */
@media (max-width: 1400px) {
  .sectionTitle {
    font-size: 2.3rem;
  }
}

@media (max-width: 1200px) {
  .sectionTitle {
    font-size: 2.1rem;
  }
}

@media (max-width: 992px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .sectionTitle {
    font-size: 1.6rem;
  }
}
