.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  background-color: #d7e2e9; /* Lighter shade of #153b56 */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  max-width: 380px;
}

.imageContainer {
  width: 340px;
  height: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #153b56;
}

.clientImage {
  width: 100%;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.playButton {
  background-color: #e30000;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.playButton:hover {
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #ff0000;
  font-size: 0.85em;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  float: right;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.logo {
  width: 140px;
  height: 80px;
}

.nameContainer {
  position: absolute;
  bottom: 33px;
  left: 30px;
  background-color: #42474d;
  color: #fff;
  width: 80%;
  border-radius: 10px;
  padding: 8px;
}

.nameContainer h4 {
  font-size: 1rem;
}

.imageContainer h6 {
  font-size: 1.15rem;
  margin-bottom: 6px;
}

.textContainer p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (width < 1200px) {

  .imageContainer {
    width: 270px;
  }

  .playButton{
    top: 42%;
  }

}