.rightSticky{
    position: fixed;
     top: 25%
}

@media (max-width:992px){
    .rightSticky{
    position: relative;
    top: unset;
    margin-top: 50px;
}
}

@media (max-width:768px){
    .container .row{
        --bs-gutter-x: 0rem !important;
    }
}