.servicesSection {
  padding: 4rem 0;
  background-color: #fff;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #153b56;
  margin-bottom: 3rem;
}

.serviceCard {
  width: 500px;
}

/* Responsive */
@media (width < 1400px) {
  .sectionTitle {
    font-size: 2.3rem;
  }
}

@media (width < 1200px) {
  .sectionTitle {
    font-size: 2.1rem;
  }

  .serviceCard {
    width: 430px;
  }

}

@media (width < 992px) {
  .sectionTitle {
    font-size: 2rem;
  }

  .serviceCard{
    width: 330px;
  }
}

@media (width < 768px) {
  .sectionTitle {
    font-size: 1.8rem;
  }

  .serviceCard{
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (width < 576px) {
  .sectionTitle {
    font-size: 1.6rem;
  }

  
}